# Workflow for testing spoon-maven-plugin.

name: tests
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test-linux:
    runs-on: ${{ matrix.os }}
    name: Tests with Java ${{ matrix.java }} on ${{ matrix.os }}
    strategy:
      matrix:
        java: [17, 21, 24]
        os: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - name: Setup env
        uses: ./.github/actions/setup-tests

      - name: Time nix setup
        run: nix develop .#jdk${{ matrix.java }} --command true
      - name: Test
        run: nix develop .#jdk${{ matrix.java }} --command test
